body {
    background-color: #e1c8b2;
}
#header {
    background-color: #fff;
}
.headerContent {
    margin-left: 1em;
    margin-right: 1em;
}
.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.headerName {
    float: left;
    padding: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: #7b9ea4;
}
nav {
    float: right;
    padding-top: 3em;
}
ul.menu li {
    display: inline;
}
ul.menu li a {
    text-decoration: none;
    color: #995b28;
}
ul.menu li a:hover {
    color: #34220c;
}
    .contentBox {
    clear: both;
    width: 960px;
    overflow: auto;
}
.content {
    clear: both;
    overflow: auto;
    margin-top: 1em;
    margin-left: 1em;
    padding: 2em;
    color: #995b28;
    background-color: #ffffff;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #7b9ea4;
    padding-right: 2em;
}
p {
    margin-bottom: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Courier New', Courier, monospace; */
}
.photoBox {
    float: left;
    width: 280px;
    height: 220px;
    margin-right: 1em;
}
.photo {
    width: 280px;
    z-index: 1;
}
.photoBanner {
    color: #fff;
    background-color: #7b9ea4;
    padding: .5em;
    text-align: center;
    position: relative;
    bottom: 40px;
    z-index: 2;
    overflow: visable;
}
#mePhoto {
    width:280px;
}
.formInput {
    width: 100%;
}
#message {
    rows: 10;
    height: 10em;
}

/*** Responsive CSS ***/
@media screen and (max-width: 980px) {
    .contentBox {
        width: 748px;
    }
}
@media screen and (max-width: 768px) {
    .contentBox {
        width: 620px;
    }
}
@media screen and (max-width: 640px) {
    .contentBox {
        width: 360px;
    }
